{
	"Version": "2012-10-17",
	"Statement": [{
		"Sid": "AllowS3ToAssume",
		"Effect": "Allow",
		"Principal": {
			"Service": [
				"${principal_service}"
			]
		},
		"Action": [
			"${action}"
		]
	}]
}